.about-content{
    padding-top: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-intro{
    max-width: 500px;
}
.about-content img{
    max-width: 435px;
    width: 100%;
    height: auto;
    margin-bottom: auto;
}
.studio-profile-content{
    padding-top: 240px;
    width: 100%;
}
.team-content{
    padding-top: 350px;
}
.services-content{
    padding-top: 310px;
}
.team-intro, .services-intro{
    display: flex;
    flex-direction: column;
}
.team-intro .light-1\.5rem, .services-intro .light-1\.5rem{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 1023px) {
    .about-content{
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .about-content img{
        max-width: unset;
    }
    .studio-profile-content, .team-content, .services-content{
        padding-top: 20px;
    }
}