.about-content{
    padding-top: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-intro{
    max-width: 500px;
}
.about-content img{
    max-width: 435px;
    width: 100%;
    height: auto;
    margin: auto;
}
@media (max-width: 1023px) {
    .about-content{
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .about-content img{
        max-width: unset;
    }
}