@font-face{
    src: url("../Fonts/HelveticaNeueLight.ttf");
    font-family: "helveticaneue";
    font-weight: 300;
}
@font-face{
    src: url("../Fonts/HelveticaNeueLTPro-LtIt.otf");
    font-family: "helveticaneue";
    font-weight: 300;
    font-style: italic;
}
@font-face {
    src: url("../Fonts/HelveticaNeue-Medium.otf");
    font-family: "helveticaneue";
    font-weight: 500;
}
body{
    font-family: "helveticaneue", sans-serif;
    font-weight: 500;
}
.medium-1\.5rem{
    font-family: "helveticaneue", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.light-1\.5rem{
    font-family: "helveticaneue", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.light-italic-1\.5rem{
    font-family: "helveticaneue", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
}
.medium-2\.8125rem{
    font-family: "helveticaneue", sans-serif;
    font-weight: 500;
    font-size: 2.8125rem;
}
.medium-5\.9375rem{
    font-family: "helveticaneue", sans-serif;
    font-weight: 500;
    font-size: 5.9375rem;
}
@media (max-width: 1023px){
    .medium-5\.9375rem{
        font-size: 4rem;
        letter-spacing: 0 !important;
        line-height: 0.7 !important;
    }
    .medium-2\.8125rem{
      font-size: 1.5rem !important;
    }

}