footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
footer p{
    padding: 41px 0 32px;
}
@media (max-width: 1023px){
    footer .light-italic-1\.5rem{
        font-size: 1rem;
    }
}