header{
    padding-top: 40px;
}
.header-logo{
    height: 55px;
}
nav ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
    min-width: 265px;
}
nav li{
    padding: 0.25rem 0;
}
.about-li{
    padding: 1rem 0;
}
nav li:first-child{
    padding-top: 0;
}
nav li:last-child{
    padding-bottom: 0;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: "helveticaneue", sans-serif;
    font-weight: 300;
}
/*
nav a:hover{
    font-weight: 500;
}*/

@media (max-width: 1023px){
    header{
        padding-top: 10px;
    }
}